<!-- src/main/resources/templates/bookmarks/bookmarks.html -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">

<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">내 북마크 리스트</title>
</head>

<section layout:fragment="content" class="relative flex-1 bg-white">

    <div class="p-8 flex items-center space-x-4">
        <img src="/img/bookmark.png" alt="북마크" class="w-19 h-19"/>
        <h2 class="text-3xl font-semibold">내 북마크 리스트</h2>
    </div>

    <div class="absolute overflow-y-auto"
         style="top:96px; bottom:24px; left:24px; right:24px;">
        <div class="max-w-5xl mx-auto space-y-4">

            <div th:each="bookmark, idx : ${bookmarks}"
                 class="relative flex items-center bg-white border rounded-lg shadow-sm p-4 hover:shadow-md transition">
                <div class="w-20 h-20 bg-gray-200 rounded-md flex-shrink-0 mr-4
                    flex items-center justify-center text-gray-400">
                    <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M3 7h18M3 12h18M3 17h18"/>
                    </svg>
                </div>
                <div class="flex-1">
                    <h3 class="text-lg font-semibold mb-1"
                        th:text="${bookmark.restaurantName}">식당명</h3>
                    <p class="text-sm text-gray-600"
                       th:text="${bookmark.restaurantAddress}">식당 주소</p>
                </div>
                <div class="ml-4 flex-shrink-0">
                    <button type="button"
                            th:attr="data-id=${bookmark.bookMarkId}"
                            class="focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-6 w-6 text-red-400 hover:text-red-600"
                             fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(bookmarks)}" class="text-center text-gray-500 py-20 text-x1" >
                등록된 북마크가 없습니다. 북마크를 추가해 나만의 식당 리스트를 만들어 보세요 !
            </div>
        </div>
    </div>
</section>
</html>